/* Home.css */
.fixed-header-table {
    max-height: 600px; /* Adjust height as needed */
    overflow-y: auto;
}

.fixed-header-table thead th {
    position: sticky;
    top: 0;
    background-color: #E10174; /* Dark background for header */
    color: white;
    z-index: 1;
}

/* Animation for table rows */
.animate__animated {
    animation-duration: 0.5s;
}

.animate__fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modal styling */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}